@model Pantalla_Principal.web.Models.RegistrationModel
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>Nickname: </p><p>@Model.Nickname</p>

<p>Nombre: </p><p>@Model.Name</p>

<p>Apellido: </p><p>@Model.Lastname</p>

<p>Correo Electronico: </p><p>@Model.Correo</p>
