
@{
    ViewBag.Title = "Index";
}

<h2>Un buen Libro no Tiene Final. </h2>

<a><input type="button" value="Login "></a>

<body style="background-color:#000000;">
</body>

<a href="http://localhost:62352/Registration/Index"><input type="button" value="Registrarse "></a>
<a href="http://localhost:62352/Cate/Index"><input type="button" value="Tags "></a>

